<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KnowUrBite - Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload a Food Image for Adulteration Check</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload and Check">
        </form>
    </div>
</body>
</html>